providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/kodi/Projects/noon"
          source: "/Users/kodi/Projects/noon/.build-tools.cson"
          name: "noon"
          command: "/usr/local/bin/node js/noon.js test/dict.noon"
          wd: "/Users/kodi/Projects/noon/"
          env: {}
          modifier: {}
          stdout:
            pty: true
            pty_rows: 25
            pty_cols: 80
            highlighting: "nh"
            ansi_option: "parse"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output: {}
          version: 1
        }
      ]
  }
]
